<nav class="navbar navbar-default">
 <div class="container-fluid">
  <div class="navbar-header">
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
     </button>
     <%= link_to 'Little Violet Pony', root_path, class: 'navbar-brand' %>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   <ul class="nav navbar-nav navbar-right">
      <%= link_to 'Main page', root_path, class: 'btn btn-warning ' %>
      <%= link_to 'About me', home_about_path, class: 'btn btn-info ' %>
      <%= link_to 'New post', new_post_path, class: 'btn btn-default ' %>
      <% if user_signed_in? %>
       <%=link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-primary ' %>
       <%=link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-danger ' %>
      <% else %>
       <%=link_to 'Login', new_user_session_path, class: 'btn btn-success ' %>
       <%=link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary ' %>
      <% end %>
   </ul>
  </div>
 </div>
