<div class='panel panel-default'>
  <div class='panel-heading'><h2>Log in</h2></div>
    <div class='panel-body'>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true , class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <h4><%= f.label :remember_me , class: "label label-default"%>
      <%= f.check_box :remember_me %></h2>
      
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>

</div>
  <div class='panel-footer'><%= render "devise/shared/links" %></div>
</div>

