<%= form_for @post, html: {multipart: true } do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description, "Description" %><br>
    <%= f.text_field :description ,class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image, "Image" %><br>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit "Send image", class: 'btn btn-primary btn-lg'  %>
  </div>
<% end %>
