<div id='posts' class='transitions-enabled'>
<% @posts.each do |post| %>
<div class='box'>
  <div class='panel panel-default'>
    <%=link_to image_tag(post.image.url(:medium)), post %><br/>
    <div class='panel-body'>
      <%= post.description %><br/>
      <br/><strong><%= post.user.name if post.user %></strong><br/>
    </div>
        <% if post.user == current_user %>
          <div class="panel-footer">
          <%= link_to 'Edit', edit_post_path(post) %><br/>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
<div class="center">
<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>