<div class='row'>
	<div class='col-md-offset-2 col-md-8'>
		<div class="panel panel-default">
 <div class='panel-header center'><%= image_tag @post.image.url(:medium) %></div>
 <div class='panel-body'>
  <%= @post.description %><br/>
<% if @post.user == current_user %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
</div>
</div>
</div>
</div>
